<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h2>Edit Customer</h2>
<p><a href="/customers">Back to list customer</a></p>
<th:block th:if="${#messages}">
    <p th:text="${#messages}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
<input type="hidden" name="id" th:field="*{id}"/>
    <table border="1">
        <tr>
        <td>First Name</td>
        <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>